{% extends 'base.html' %}
{% block content %}

<div class="bloc-content">

    <div class="bloc-content--title">
        <h2>Edit {{ vet.first_name }} {{ vet.last_name }}</h2>
    </div>

    <form action="/vets/{{ vet.id }}" method="POST">

        <h3>Name</h3>

        <div class="bloc-container--flex  bloc-content">

            <div class="bloc-cell--50pc bloc-cell--breaker">

                <div class=" bloc-form--label">
                    <label for="vet_first_name">First name</label>
                </div>

                <div>
                    <input type="text" name="vet_first_name" id="vet_first_name" value="{{ vet.first_name }}" required />
                </div>

            </div>

            <div class="bloc-cell--50pc">

                <div class="bloc-form--label">

                    <label for="vet_last_name">Last name</label>

                </div>

                <div>
                    <input type="text" name="vet_last_name" id="vet_last_name" value="{{ vet.last_name }}" required />
                </div>

            </div>

        </div>

        <div class="bloc-content">

            <input type="submit" value="Add vet" class="bloc-button--large-button bloc-button--type-dark" />

        </div>

    </form>

</div>

{% endblock %}