{% extends 'base.html' %}
{% block content %}

<div class="bloc-content">

    <div class="bloc-content--title">
        <h2>Add pets to the system</h2>
    </div>

    <form action="/pets" method="POST">

        <div class="bloc-container--flex  bloc-content">

            <div class="bloc-cell--50pc bloc-cell--breaker">

                <div class=" bloc-form--label">
                    <label for="pet_name">Pet name</label>
                </div>

                <div>
                    <input type="text" name="pet_name" id="pet_name" placeholder="Pets Name" />
                </div>

            </div>

            <div class="bloc-cell--50pc">

                <div class="bloc-form--label">
                    <label for="pet_name">Pet date of birth</label>
                </div>

                <div>
                    <input type="date" name="pet_age" id="pet_name" placeholder="Pets Name" />
                </div>

            </div>

        </div>

        <div class="bloc-container--flex bloc-content">

            <div class="bloc-cell--50pc bloc-cell--breaker">

                <div class="bloc-form--label">
                    <label for="pet_name">Pet type</label>
                </div>

                <div>
                    <select name="pet_type" id="pet_type">
                        {% for type in pet_types %}
                        <option value="{{ type.id }}">{{ type.breed }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="bloc-cell--50pc">

                <div class="bloc-form--label">
                    <label for="pet_name">Pet type</label>
                </div>

                <div>
                    <select name="pet_owner" id="pet_type">
                        {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.first_name }} {{ owner.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

        </div>

        <div class="bloc-container--flex bloc-content">

            <div class="bloc-cell--50pc bloc-cell--breaker">

                <div class="bloc-form--label">
                    <label for="pet_name">Regular vet</label>
                </div>

                <div>
                    <select name="pet_vet" id="pet_type">
                        {% for vet in vets %}
                        <option value="{{ vet.id }}">{{ vet.first_name }} {{ vet.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="bloc-cell--50pc">

                <input type="submit" class="bloc-button--large-button bloc-button--type-dark" value="Add pet" />

            </div>

        </div>

    </form>

</div>

{% endblock %}