{% extends 'base.html' %}
{% block content %}

<div class="bloc-container--flex">

    <div class="bloc-cell--80pc bloc-cell--breaker bloc-content">

        <div class="bloc-content--data-display">

            <div class="bloc-data--title">

                <h2>{{ pet.name }}</h2>

            </div>

            <div class="bloc-data--content">

                <div class="bloc-content">

                    <div class="bloc-container--flex bloc-data--quick-items bloc-content">

                        <div class="bloc-cell--40pc">

                            <p>Pet breed: <span>{{ pet.pet_type.breed }}</span></p>
        
                        </div>
        
        
                        <div class="bloc-cell--30pc">
        
                            <p>Owner: <span>{{ pet.owner.first_name }} {{ pet.owner.last_name }}</span></p>
                            
                        </div>
        
        
                        <div class="bloc-cell--30pc">
        
                            <p>Primary Vet: <span>{{ pet.vet.first_name }} {{ pet.vet.last_name }}</span></p>
                            
                        </div>

                    </div>

                    <div class="bloc-container--flex bloc-data--quick-items">

                        <div class="bloc-cell--40pc">

                            <p>Date of Birth: <span>{{ pet_dob_string }}</span></p>
        
                        </div>

                        <div class="bloc-cell--30pc">
        
                            <p><span>{{ notes_length }}</span> notes</p>
                            
                        </div>
        
        
                        <div class="bloc-cell--30pc">
        
                            <p><span>{{ treatments_length }}</span> treatments</p>
                            
                        </div>
        
                    </div>

                </div>

                <div class="bloc-container--flex bloc-content">

                    <div class="bloc-cell--50pc bloc-content bloc-cell--breaker">

                        <div class="bloc-content--title">

                            <h3>Notes</h3>

                        </div>

                        {% if notes_length > 0 %}

                        {% for note in notes %}

                        <div class="bloc-content--item">

                            <div class="bloc-container--flex bloc-content--item-quick-data">

                                <p>Written on: {{ note.date }}</p>

                                <p>By: {{ note.vet.first_name }} {{ note.vet.last_name }}</p>

                            </div>

                            <div class="bloc-content--item-data">

                                <p>{{ note.note_text }}</p>

                            </div>

                        </div>

                        {% endfor %}

                        {% else %}

                        <div class="bloc-content--item">

                            <div class="bloc-container--flex bloc-content--item-quick-data">

                                <p>No notes to display</p>

                            </div>

                        </div>

                        {% endif %}

                    </div>

                    <div class="bloc-cell--50pc bloc-content">

                        <div class="bloc-content--title">

                            <h3>Treatments</h3>

                        </div>

                        {% if treatments_length > 0 %}

                        {% for treatment in treatments %}

                        <div class="bloc-content--item">

                            <div class="bloc-container--flex bloc-content--item-quick-data">

                                <p>Name: {{ treatment.name }}</p>

                                <p>Type: {{ treatment.type }}</p>

                                <p>Cost: {{ treatment.cost }}</p>

                            </div>

                            <div class="bloc-content--item-data">

                                <p>This treatment will use: {{ treatment.medicine }}</p>
                                <p>The treatment will take {{ treatment.length }} days</p>

                            </div>

                        </div>

                        {% endfor %}

                        {% else %}

                        <div class="bloc-content--item">

                            <div class="bloc-container--flex bloc-content--item-quick-data">

                                <p>No treatments to display</p>

                            </div>

                        </div>

                        {% endif %}

                    </div>

                </div>

                <div class="bloc-content">

                    <div class="bloc-content--title">

                        <h3>Appointments</h3>

                    </div>

                    {% if appointment_length > 0 %}

                        {% for appointment in appointments %}

                        <div class="bloc-content--item">

                            <div class="bloc-container--flex bloc-content--item-quick-data">

                                <p>Date of appointment: {{ appointment.date }}</p>

                                <p>Attending vet: {{ appointment.vet.first_name }} {{ appointment.vet.last_name }}</p>

                                <p>Days untill appointment: {% if appointment.days_until_count < 0 %} This appointment has passed {% else %}{{ appointment.days_until_count }}{% endif %}</p>

                            </div>

                            <div class="bloc-content--item-data">

                                <h3>Notes:</h3>

                                <p>{{ appointment.note }}</p>

                            </div>

                        </div>

                        {% endfor %}

                    {% else %}

                    <div class="bloc-content--item">

                        <div class="bloc-container--flex bloc-content--item-quick-data">

                            <p>No appointments scheduled</p>

                        </div>

                    </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

    <div class="bloc-cell--20pc bloc-content">

        <a href="/owners/{{ pet.owner.id }}"><div class="bloc-button--large-button-div bloc-button--type-dark">
            <p>View contact details for {{ pet.name }}</p>
        </div></a>

        <a href="/pets/{{ pet.id }}/edit"><div class="bloc-button--large-button-div bloc-button--type-dark">
            <p>Edit pet</p>
        </div></a>

        <a href="/pets/{{ pet.id }}/add-note"><div class="bloc-button--large-button-div bloc-button--type-dark">
            <p>Add a note to this pet</p>
        </div></a>

        <a href="/pets/{{ pet.id }}/add-appointment"><div class="bloc-button--large-button-div bloc-button--type-dark">
            <p>Create an appointment for {{ pet.name }}</p>
        </div></a>

        <a href="/pets/{{ pet.id }}/add-treatment"><div class="bloc-button--large-button-div bloc-button--type-dark">
            <p>Add a treatment to this pet</p>
        </div></a>

        <form action="/pets/{{ pet.id }}/delete" method="POST">
            <input type="submit" class="bloc-button--large-button bloc-button--type-dark" value="Delete this pet" />
        </form>

    </div>

</div>

{% endblock %}