/* 
//  USER INTERFACE (ui.css) styling for blo-styling
//  This contains user interface styling for the system
//  fonts > root.css > core.css > USER INTERFACE > OTHER
//  More information: https://www.benfd.uk/projects/bloc-styling
*/

/* MATERIAL ICONS */

.md-18{ font-size: 18px; }
.md-24{ font-size: 24px; }
.md-36{ font-size: 36px; }

/* Header/Sidebar && Navigation */

header{
    color: var(--primary-brand-color);
    background: var(--header-bgcolor);
}
header > div > h1{
    padding: 15px 20px;
}
nav#app_header__nav{
    justify-content: right;
}

aside{
    height: calc(100vh - 75px);
    color: var(--primary-brand-color);
    background: var(--sidebar-bgcolor);
    overflow: scroll;
    overflow-x: hidden;
}

/* Header navigation */

.bloc-hn-block{
    color: var(--primary-brand-color);
    padding: 20px 20px;
    height: 35px;
}
.hn-last{
    padding: 25px 20px;
    height: 25px;
}
.bloc-hn-block:hover{
    background: var(--navigation-primary);
}

/* Sidebar navigation */

.bloc-sbn-block, .bloc-snb-top{
    padding: 20px 0;
    height: 20px;
    color: var(--primary-font-color);
    text-align: center;
}
.bloc-sbn-block:hover, .sbn-active{
    background: var(--navigation-secondary);
}

.bloc-sbn-sub-block{
    background: var(--navigation-sub);
}

.bloc-snb-top{
    background: var(--navigation-primary);
    color: var(--primary-brand-color);
}
.bloc-snb-top:hover{
    cursor: pointer;
}

/* Primary Content */

#app_main__inner{
    width: 90%;
    margin: 20px auto;
}

.bloc-content{
    margin: 0 0 20px 0;
}

.bloc-content--title{
    padding: 10px;
    background: var(--primary-brand-color);
}

/* Data display */

.bloc-content--data-display{
    padding: 10px;
    background: var(--data-display-background);
}
.bloc-data--title{
    border-bottom: 3px solid var(--primary-brand-color);
}
.bloc-data--content{
    margin: 20px 0;
}
.bloc-data--quick-items p{
    margin-right: 10px;
    padding: 10px;
    background: var(--primary-brand-color);
}
.bloc-data--quick-items p span{
    border-bottom: 3px solid var(--secondary-brand-color);
}

/* Content items */

.bloc-content--item{
    margin: 0 0 10px 0;
    padding: 0 10px;
    border-bottom: 2px solid var(--primary-brand-color);
}
.bloc-content--item-quick-data p{
    margin: 10px 10px 10px 0;
    padding: 10px;
    background: var(--primary-brand-color);
}
.bloc-content--item-data{
    padding-bottom: 10px;
}

/* Inputs, buttons && forms */

form{
    margin: 20px 0;
}

.bloc-form--spacer{
    height: 42px;
}
.bloc-form--label{
    padding: 10px 0;
}

input, select, textarea{
    width: 96%;
    padding: 15px 10px;
    font-family: var(--primary-font-family);
    font-size: 20px;
    border: 3px solid transparent;
}
input[type=submit], select{
    width: 100%;
}
input:focus, select:focus{
    border: 3px solid var(--primary-brand-color);
}

textarea{
    min-width: 97%;
    max-width: 97%;
    min-height: 280px;
    max-height: 600px;
}

.bloc-button--large-button{
    height: 64px;
    font-weight: bold;
}
.bloc-button--large-button-div{
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.bloc-button--type-dark{
    background: var(--header-bgcolor);
    color: var(--primary-brand-color);
}
.bloc-button--type-dark:hover{
    background: var(--primary-brand-color);
    color: var(--primary-font-color);
    cursor: pointer;
}


/* Status && errors */

.bloc-status{
    margin-bottom: 10px;
    padding: 10px 0;
    background: rgb(128, 128, 128);
    border-radius: 5px;
}
.bloc-status--error{
    background: var(--status-error);
}
.bloc-status--warning{
    background: var(--status-warning);
}
.bloc-status--success{
    background: var(--status-success);
}

.bloc-status--icon{
    text-align: center;
}
.bloc-status--text{
    padding: 10px 0 0 0;
}

/* OTHER */

.bloc-hidden{
    display: none;
}